Do you remember what the built-in `pandas` way to write to Excel is?

In [1]:
# Create a raw DataFrame here

import pandas as pd
data = {'Name':['Andrea', 'Cassandra', 'Chuck', 'Kelly'],'Sales':[725457,391721,687781,501239]}
df = pd.DataFrame(data)
print(df)

Name   Sales
0     Andrea  725457
1  Cassandra  391721
2      Chuck  687781
3      Kelly  501239

In [5]:
writer = pd.ExcelWriter('sales-summary.xlsx', engine='xlsxwriter')
workbook = writer.book

sheet = 'Sales Summary'
df.to_excel(writer, sheet_name=sheet, index=False)

worksheet = writer.sheets[sheet]

worksheet.set_column('A:B', 14, None)

writer.save()

## Adding sparklines

We can also add sparklines directly from `xlsxwriter`. These are small, in-cell visualizations of a trend, such as the below.


I would like to compare the attendance records of AL Central teams from 2010-2015. I will need to set up my data to look like the above, with the years across the columns. This will take some doing.

In [5]:
import pandas as pd

teams = pd.read_excel("baseball.xlsx", 'teams')
teams.head()

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,1871,NaN,BS1,BNA,NaN,3,31,NaN,20,10,...,24,0.834,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NaN,CH1,CNA,NaN,2,28,NaN,19,9,...,16,0.829,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871,NaN,CL1,CFC,NaN,8,29,NaN,10,19,...,15,0.818,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,1871,NaN,FW1,KEK,NaN,7,19,NaN,7,12,...,8,0.803,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,1871,NaN,NY2,NNA,NaN,5,33,NaN,16,17,...,14,0.840,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2

I will need to do some work to get our dataset set up to what we want, don't focus on the code but see how intuitive it is for you.

In [12]:
# Filter records for year b/w 2010 and 2015 and in NL leage and in C division

nl_c_2010_2015 = (teams['yearID'].between(2010,2015)) & (teams['lgID'] == 'AL') & (teams['divID'] == 'C')

teams_filtered = teams.iloc[nl_c_2010_2015.values]


teams_filtered_pivot = teams_filtered.pivot(index='name', columns='yearID', values='attendance')

Now I need to figure out how to do this in Python and guess what. I don't feel like doing it right now. I mean I work all the time and these idiots next door do nothing.