# Hello, Jupyter

Jupyter is a popular environment for working with Python.

At a high level, it consists of **cells** which can contain text (like this one)...

In [12]:
# ... or code, like this one.
# Go ahead and print('Hello from Jupyter') below.

For a more in-depth look at working with Jupyter notebooks, check out my other OLT course, "First Steps in Python for Spreadsheet Users."

# Reading spreadsheet data into Python

`pandas.read_excel()` will be helpful here. 

For more about working with modules, particularly `pandas`, check out my "First Steps in Python for Spreadsheet Users" course. 

We will demonstrate on the file `superstore.xlsx`. Take a look at it in Excel before reading it into Python.

In [14]:
# Import pandas

import pandas as pd

In [17]:
# Read in our worksheet, print header

orders = pd.read_excel("superstore.xlsx")

# Sneak peek of the data
orders.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,7981,CA-2011-103800,2013-01-03,2013-01-07,Standard Class,DP-13000,Darren Powers,Consumer,United States,Houston,...,77095,Central,OFF-PA-10000174,Office Supplies,Paper,"Message Book, Wirebound, Four 5 1/2"" X 4"" Form...",16.448,2,0.2,5.5512
1,740,CA-2011-112326,2013-01-04,2013-01-08,Standard Class,PO-19195,Phillina Ober,Home Office,United States,Naperville,...,60540,Central,OFF-LA-10003223,Office Supplies,Labels,Avery 508,11.784,3,0.2,4.2717
2,741,CA-2011-112326,2013-01-04,2013-01-08,Standard Class,PO-19195,Phillina Ober,Home Office,United States,Naperville,...,60540,Central,OFF-ST-10002743,Office Supplies,Storage,SAFCO Boltless Steel Shelving,272.736,3,0.2,-64.7748
3,742,CA-2011-112326,2013-01-04,2013-01-08,Standard Class,PO-19195,Phillina Ober,Home Office,United States,Naperville,...,60540,Central,OFF-BI-10004094,Office Supplies,Binders,GBC Standard Plastic Binding Systems Combs,3.540,2,0.8,-5.4870
4,1760,CA-2011-141817,2013-01-05,2013-01-12,Standard Class,MB-18085,Mick Brown,Consumer,United States,Philadelphia,...,19143,East,OFF-AR-10003478,Office Supplies,Art,Avery Hi-Liter EverBold Pen Style Fluorescent ...,19.536,3,0.2,4.8840

By default, `pandas.read_excel()` reads in the active worksheet in the workbook. If we want to read in others, we will specify a second argument, `sheet_name`.

In [19]:
# That's presumptuous; what about `returns` and `people`? 

orders = pd.read_excel("superstore.xlsx", sheet_name='orders')
returns = pd.read_excel("superstore.xlsx", sheet_name='returns')
people = pd.read_excel("superstore.xlsx", sheet_name='people')

In [1]:
# Preview our three tables

print(orders.head())
print(returns.head())
print(people.head())

NameError: name 'orders' is not defined

In [22]:
# Renaming columns to make them easier to
# operate on in `pandas`

orders.columns = orders.columns.str.lower()
people.columns = people.columns.str.lower()

print(orders.columns)
print(people.columns)

Index(['row id', 'order id', 'order date', 'ship date', 'ship mode',
       'customer id', 'customer name', 'segment', 'country', 'city', 'state',
       'postal code', 'region', 'product id', 'category', 'sub-category',
       'product name', 'sales', 'quantity', 'discount', 'profit'],
      dtype='object')
Index(['person', 'region'], dtype='object')

Let's perform some operations on this data using `pandas`. We we will "look up" the salesperson names into the orders data, find the total sales for each salesperson, and then write that to Excel.

Don't worry so much about the code to manipulate the data as the code to read and write data in and out of Excel. That is the focus of this course. 

I will have resources at the conclusion of this book if you would like to learn more about analyzing and manipulating datasets in Python.

In [32]:
# Let's "look up" the salesperson into the orders data

report = orders.merge(people, on='region', how='left')

In [42]:
# We want total sales by rep.

report_agg = report.groupby(['person'])['sales','profit'].sum()

In [44]:
# Let's write this to Excel.

report_agg.to_excel("sales-report.xlsx")

# DRILL: `baseball.xlsx`

Now it's your turn to read worksheets into `pandas` DataFrames, operate on them, and export the results back to Excel.

In [ ]:

# 0. Import pandas. Alias it as pd

import ____ ___ ___


#  1. Read the `teams`, `salaries` and `people` worksheets 
#  into DataFrames of the same names.

teams = pd.read_excel(___, ___='teams')
salaries = pd.read_excel(___, ___=___)
people = pd.read_excel(___, ___=___)

In [57]:

# 2. "Look up" first names and 
# last names from the people table into the
# salaries table. This line is completed for you to run.

salaries_report = salaries.merge(people[['playerID','nameFirst','nameLast']],on='playerID',how='left')

In [67]:
# 3. Find total salaries by player.
# This line is completed for you to run. 

salaries_agg = salaries_report.groupby(['playerID','nameFirst','nameLast'])['salary'].sum()

ValueError: No axis named salary for object type <class 'pandas.core.series.Series'>

In [71]:
# 4. Write this DataFrame to an Excel file
# called `salaries-report.xlsx`
# We will also sort the values before doing so.

___.sort_values(ascending=False).___(___)