# Hello, Jupyter

Jupyter is a popular environment for working with Python.

At a high level, it consists of **cells** like this one which can contain text (like this one)...

In [12]:
# ... or code, like this one.
# Go ahead and print('Hello from Jupyter') below.

For a more in-depth look at working with Jupyter notebooks, check out my other OLT course, "First Steps in Python for Spreadsheet Users."

# Reading spreadsheet data into Python

`pandas.read_excel()` will be helpful here.

In [14]:
# Import pandas

import pandas as pd

In [17]:
# Read in our worksheet, print header

orders = pd.read_excel("superstore.xlsx")

# Sneak peek of the data
orders.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,7981,CA-2011-103800,2013-01-03,2013-01-07,Standard Class,DP-13000,Darren Powers,Consumer,United States,Houston,...,77095,Central,OFF-PA-10000174,Office Supplies,Paper,"Message Book, Wirebound, Four 5 1/2"" X 4"" Form...",16.448,2,0.2,5.5512
1,740,CA-2011-112326,2013-01-04,2013-01-08,Standard Class,PO-19195,Phillina Ober,Home Office,United States,Naperville,...,60540,Central,OFF-LA-10003223,Office Supplies,Labels,Avery 508,11.784,3,0.2,4.2717
2,741,CA-2011-112326,2013-01-04,2013-01-08,Standard Class,PO-19195,Phillina Ober,Home Office,United States,Naperville,...,60540,Central,OFF-ST-10002743,Office Supplies,Storage,SAFCO Boltless Steel Shelving,272.736,3,0.2,-64.7748
3,742,CA-2011-112326,2013-01-04,2013-01-08,Standard Class,PO-19195,Phillina Ober,Home Office,United States,Naperville,...,60540,Central,OFF-BI-10004094,Office Supplies,Binders,GBC Standard Plastic Binding Systems Combs,3.540,2,0.8,-5.4870
4,1760,CA-2011-141817,2013-01-05,2013-01-12,Standard Class,MB-18085,Mick Brown,Consumer,United States,Philadelphia,...,19143,East,OFF-AR-10003478,Office Supplies,Art,Avery Hi-Liter EverBold Pen Style Fluorescent ...,19.536,3,0.2,4.8840

In [19]:
# That's presumptuous; what about `returns` and `people`? 

orders = pd.read_excel("superstore.xlsx", sheet_name='orders')
returns = pd.read_excel("superstore.xlsx", sheet_name='returns')
people = pd.read_excel("superstore.xlsx", sheet_name='people')

In [21]:
print(orders.head())
print(returns.head())
print(people.head())

Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0    7981  CA-2011-103800 2013-01-03 2013-01-07  Standard Class    DP-13000
1     740  CA-2011-112326 2013-01-04 2013-01-08  Standard Class    PO-19195
2     741  CA-2011-112326 2013-01-04 2013-01-08  Standard Class    PO-19195
3     742  CA-2011-112326 2013-01-04 2013-01-08  Standard Class    PO-19195
4    1760  CA-2011-141817 2013-01-05 2013-01-12  Standard Class    MB-18085

   Customer Name      Segment        Country          City  ... Postal Code  \
0  Darren Powers     Consumer  United States       Houston  ...       77095
1  Phillina Ober  Home Office  United States    Naperville  ...       60540
2  Phillina Ober  Home Office  United States    Naperville  ...       60540
3  Phillina Ober  Home Office  United States    Naperville  ...       60540
4     Mick Brown     Consumer  United States  Philadelphia  ...       19143

    Region       Product ID         Category Sub-Category  \
0  Central  OFF-PA-10000174  Office Supplies        Paper
1  Central  OFF-LA-10003223  Office Supplies       Labels
2  Central  OFF-ST-10002743  Office Supplies      Storage
3  Central  OFF-BI-10004094  Office Supplies      Binders
4     East  OFF-AR-10003478  Office Supplies          Art

                                        Product Name    Sales  Quantity  \
0  Message Book, Wirebound, Four 5 1/2" X 4" Form...   16.448         2
1                                          Avery 508   11.784         3
2                      SAFCO Boltless Steel Shelving  272.736         3
3         GBC Standard Plastic Binding Systems Combs    3.540         2
4  Avery Hi-Liter EverBold Pen Style Fluorescent ...   19.536         3

   Discount   Profit
0       0.2   5.5512
1       0.2   4.2717
2       0.2 -64.7748
3       0.8  -5.4870
4       0.2   4.8840

[5 rows x 21 columns]
  Returned           Updated Order Returns
0      Yes  CA-2014-153822 Product Damaged
1      Yes  CA-2014-129707 Product Damaged
2      Yes  CA-2011-152345 Product Damaged
3      Yes  CA-2012-156440 Product Damaged
4      Yes  US-2014-155999 Product Damaged
              Person   Region
0      Anna Andreadi     West
1        Chuck Magee     East
2     Kelly Williams  Central
3  Cassandra Brandow    South

In [22]:
# Renaming columns

orders.columns = orders.columns.str.lower()
people.columns = people.columns.str.lower()

print(orders.columns)
print(people.columns)

Index(['row id', 'order id', 'order date', 'ship date', 'ship mode',
       'customer id', 'customer name', 'segment', 'country', 'city', 'state',
       'postal code', 'region', 'product id', 'category', 'sub-category',
       'product name', 'sales', 'quantity', 'discount', 'profit'],
      dtype='object')
Index(['person', 'region'], dtype='object')

In [32]:
# Let's "look up" the salesperson into the orders data

report = orders.merge(people, on='region', how='left')

In [42]:
# We want total sales by rep.

report_agg = report.groupby(['person'])['sales','profit'].sum()

In [44]:
# Let's write this to Excel.

report_agg.to_excel("sales-report.xlsx")

# DRILL: `baseball.xlsx`

In [ ]:
'''
1. Read the `teams`, `salaries` and `people` worksheets 
into DataFrames of the same name.
'''

import ____ ___ ___

In [46]:
teams = pd.read_excel("baseball.xlsx", sheet_name='teams')
salaries = pd.read_excel("baseball.xlsx", sheet_name='salaries')
people = pd.read_excel("baseball.xlsx", sheet_name='people')

In [57]:
'''
2. "Look up" first names and 
last names from the people table into the
salaries table
'''

salaries_report = salaries.merge(people[['playerID','nameFirst','nameLast']],on='playerID',how='left')

In [67]:
# Get total salaries by player

salaries_agg = salaries_report.groupby(['playerID','nameFirst','nameLast'])['salary'].sum()

ValueError: No axis named salary for object type <class 'pandas.core.series.Series'>

In [71]:
# Sort from highest to lowest
salaries_agg.sort_values(ascending=False).to_excel("salaries-report.xlsx")