In [12]:
import pandas as pd 
import xlsxwriter

# pandas can read in data from most any source
cities = pd.read_csv("https://raw.githubusercontent.com/summerofgeorge/training-assets/master/datasets/largest-us-cities.csv")

# Convert our population field to be numeric
cities['population'] = pd.to_numeric(cities['population'], errors='coerce')

# Print the first few rows
cities.head()

          city  population  pop_change  land_area
0     New York     8336817      0.0198      301.5
1  Los Angeles     3979576      0.0493      468.7
2      Chicago     2693976     -0.0006      227.3
3      Houston     2320268      0.1048      637.5
4      Phoenix     1680992      0.1628      517.6

In [13]:
# Create population density column in our cities DataFrame

cities['density'] = cities['population']/cities['land_area']

# Check out our new column
cities.head()

          city  population  pop_change  land_area       density
0     New York     8336817      0.0198      301.5  27651.134328
1  Los Angeles     3979576      0.0493      468.7   8490.667805
2      Chicago     2693976     -0.0006      227.3  11852.072151
3      Houston     2320268      0.1048      637.5   3639.636078
4      Phoenix     1680992      0.1628      517.6   3247.666151

## Set columns
### You can hardcode your references...

In [14]:
# Set Pandas engine to xlsxwriter
writer = pd.ExcelWriter('us-cities.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
cities.to_excel(writer, sheet_name='Sheet1', index=False)

# Get the xlsxwriter objects from the DataFrame writer object.
workbook  = writer.book
worksheet = writer.sheets['Sheet1']

# Set up cell formatting 
thousands_format = workbook.add_format({'num_format':'#,##0'})
pct_format = workbook.add_format({'num_format':'0.00%'})

# Format our columns -- we will also set the column width here
#worksheet.set_column('A:A', 12)
#worksheet.set_column('B:B', 10, thousands_format)
#worksheet.set_column('C:C', 10, pct_format)
#worksheet.set_column('D:E', 10, thousands_format)

## Or set them by the following notation:


`set_column(first_col, last_col, width, cell_format, options)`

In [15]:
city_col = cities.columns.get_loc('city')

In [16]:
pop_col = cities.columns.get_loc('population')
worksheet.set_column(pop_col, pop_col, 10, thousands_format)

0

In [17]:
workbook.close()