In [7]:
import pandas as pd
import xlsxwriter

# Create a DataFrame of land sizes of NYC boroughs
data = {'borough':['The Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island'],
        'land_area':[42.10, 70.82, 22.83, 108.53, 58.37]}

df = pd.DataFrame(data)

# Doesn't this look familiar?
df

         borough  land_area
0      The Bronx      42.10
1       Brooklyn      70.82
2      Manhattan      22.83
3         Queens     108.53
4  Staten Island      58.37

In [8]:
# Write data to Excel

# Set Pandas engine to xlsxwriter
writer = pd.ExcelWriter('table-test.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, sheet_name='Sheet1', index=False)

# Get the xlsxwriter objects from the DataFrame writer object.
workbook  = writer.book
worksheet = writer.sheets['Sheet1']

In [9]:
df.shape[0]

5

In [10]:
# Add a table -- 
# We will name the table and each of the columns
worksheet.add_table(0, 0, df.shape[0], (df.shape[1]-1))

{'show_first_col': False,
 'show_last_col': False,
 'show_row_stripes': True,
 'show_col_stripes': False,
 'header_row_count': True,
 'totals_row_shown': False,
 'style': 'TableStyleMedium9',
 'range': 'A1:B6',
 'a_range': 'A1:B6',
 'autofilter': 'A1:B6',
 'columns': [{'id': 1,
   'name': 'Column1',
   'total_string': '',
   'total_function': '',
   'total_value': 0,
   'formula': '',
   'format': None,
   'name_format': None},
  {'id': 2,
   'name': 'Column2',
   'total_string': '',
   'total_function': '',
   'total_value': 0,
   'formula': '',
   'format': None,
   'name_format': None}]}

In [11]:
workbook.close()

In [12]:
# https://xlsxwriter.readthedocs.io/example_pandas_table.html 
##############################################################################
#
# An example of adding a dataframe to an worksheet table in an xlsx file
# using Pandas and XlsxWriter.
#
# Tables in Excel are used to group rows and columns of data into a single
# structure that can be referenced in a formula or formatted collectively.
#
# Copyright 2013-2021, John McNamara, jmcnamara@cpan.org
#

import pandas as pd

# Create a Pandas dataframe from some data.
df = pd.DataFrame({
    'Country':    ['China',    'India',    'United States', 'Indonesia'],
    'Population': [1404338840, 1366938189, 330267887,       269603400],
    'Rank':       [1,          2,          3,               4]})

# Order the columns if necessary.
df = df[['Rank', 'Country', 'Population']]

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('pandas_table.xlsx', engine='xlsxwriter')

# Write the dataframe data to XlsxWriter. Turn off the default header and
# index and skip one row to allow us to insert a user defined header.
df.to_excel(writer, sheet_name='Sheet1', startrow=1, header=False, index=False)

# Get the xlsxwriter workbook and worksheet objects.
workbook = writer.book
worksheet = writer.sheets['Sheet1']

# Get the dimensions of the dataframe.
(max_row, max_col) = df.shape

# Create a list of column headers, to use in add_table().
column_settings = [{'header': column} for column in df.columns]

# Add the Excel table structure. Pandas will add the data.
worksheet.add_table(0, 0, max_row, max_col - 1, {'columns': column_settings})

# Make the columns wider for clarity.
worksheet.set_column(0, max_col - 1, 12)

# Close the Pandas Excel writer and output the Excel file.
writer.save()