## Dynamic references

`first_row, first_col, last_row, last_col` 

So, how will we do this? 

Say we insert

In [2]:
import pandas as pd
import xlsxwriter

# Create a DataFrame of land sizes of NYC boroughs
data = {'borough':['The Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island'],
        'land_area':[42.10, 70.82, 22.83, 108.53, 58.37]}

df = pd.DataFrame(data)

# Doesn't this look familiar?
df

         borough  land_area
0      The Bronx      42.10
1       Brooklyn      70.82
2      Manhattan      22.83
3         Queens     108.53
4  Staten Island      58.37

In [3]:
last_row, last_col = df.shape

In [5]:
last_row

5

In [6]:
last_col

2